.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



body {
  background-image: url("./images/hogwartsBackground.jpg");
}



.generalText {
  font-size: 23px;
  font-family: 'Niconne', cursive;
  color: #F3DE85;
}

.question {
  font-size: 40px;
  /* color: #ECCC3B; */
}

/* .buttonStyling {
  color: #F3DE85;
  
} */

#mainTitle {
  font-size: 50px;
}

.topnav {
  border: 2px solid #912231;
  border-radius: 4px;
  padding: .5rem;
  text-align: center;
  margin: 0% 20%;
  background-color: #912231;
}

.elements {
  border-radius: 4px;
  padding: .5rem;
  font-size: 30px;
  
}

.link {
  color: #F3DE85;
}

